.u-section-1 .u-sheet-1 {
  min-height: 565px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 56px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 11px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 33px;
  margin-bottom: 20px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 366px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  height: 213px;
  width: 213px;
  background-image: url("images/QQ20221014221344.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 239px;
  height: 94px;
  background-image: none;
  margin: 14px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -78px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 7px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-image-2 {
  height: 213px;
  width: 213px;
  background-image: url("images/JPQPML_0JMYYE2X.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 239px;
  height: 94px;
  background-image: none;
  margin: 14px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -78px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 7px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-image-3 {
  height: 213px;
  width: 213px;
  background-image: url("images/9LU8J2AUHGPGVDV.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 239px;
  height: 94px;
  background-image: none;
  margin: 14px auto 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: -78px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 7px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
    min-height: 396px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -65px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -298px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 233px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -298px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 233px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}